<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sltunion.cloudy.persistent.mapper.TDriverchannelMapper">
	<resultMap id="BaseResultMap" type="com.sltunion.cloudy.persistent.model.TDriverchannel">
		<id column="driverid" property="driverid" jdbcType="BIGINT"/>
		<id column="channelid" property="channelid" jdbcType="BIGINT"/>
	</resultMap>
	<sql id="Base_Column_List">
		a.driverid,a.channelid
	</sql>
	<insert id="insertSelective" parameterType="com.sltunion.cloudy.persistent.model.TDriverchannel">
		INSERT INTO t_driverchannel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="driverid != null">
				driverid,
			</if>
			<if test="channelid != null">
				channelid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="driverid != null">
				#{driverid,jdbcType=BIGINT},
			</if>
			<if test="channelid != null">
				#{channelid,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.sltunion.cloudy.persistent.model.TDriverchannel">
		UPDATE t_driverchannel a 
		<trim prefix="SET " suffix=" " suffixOverrides=",">
		</trim>
		WHERE 
		<trim prefix="" suffix="" suffixOverrides=" AND ">
			<if test="driverid != null">
				a.driverid=#{driverid,jdbcType=BIGINT} AND 
			</if>
			<if test="channelid != null">
				a.channelid=#{channelid,jdbcType=BIGINT} AND 
			</if>
		</trim>
	</update>
	<delete id="deleteByPrimaryKey" parameterType="com.sltunion.cloudy.persistent.model.TDriverchannel">
		DELETE FROM t_driverchannel 
		WHERE 
		<trim prefix="" suffix="" suffixOverrides=" AND ">
			<if test="driverid != null">
				driverid=#{driverid,jdbcType=BIGINT} AND 
			</if>
			<if test="channelid != null">
				channelid=#{channelid,jdbcType=BIGINT} AND 
			</if>
		</trim>
	</delete>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sltunion.cloudy.persistent.model.TDriverchannel">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_driverchannel a 
		WHERE 
		<trim prefix="" suffix="" suffixOverrides=" AND ">
			<if test="driverid != null">
				a.driverid=#{driverid,jdbcType=BIGINT} AND 
			</if>
			<if test="channelid != null">
				a.channelid=#{channelid,jdbcType=BIGINT} AND 
			</if>
		</trim>
	</select>
	<select id="selectAll" resultType="java.util.ArrayList" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_driverchannel a 
	</select>
	<select id="countAll" resultType="java.lang.Long">
		SELECT count(a.channelid) FROM t_driverchannel a 
	</select>
</mapper>