<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sltunion.cloudy.persistent.mapper.THomepagelockMapper">
	<resultMap id="BaseResultMap" type="com.sltunion.cloudy.persistent.model.THomepagelock">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="url" property="url" jdbcType="VARCHAR"/>
		<result column="is360se" property="is360se" jdbcType="TINYINT"/>
		<result column="url360se" property="url360se" jdbcType="VARCHAR"/>
		<result column="is360chrome" property="is360chrome" jdbcType="TINYINT"/>
		<result column="url360chrome" property="url360chrome" jdbcType="VARCHAR"/>
		<result column="delay" property="delay" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="autoie" property="autoie" jdbcType="TINYINT"/>
		<result column="fkill" property="fkill" jdbcType="TINYINT"/>
		<result column="createtime" property="createtime" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap extends="BaseResultMap" id="HomepageResultMap" type="com.sltunion.cloudy.persistent.model.THomepagelock">
		<collection property="homepagechannelList" ofType="com.sltunion.cloudy.persistent.model.THomepagechannel">
			<id column="homepageid" property="homepageid" jdbcType="BIGINT"/>
			<id column="channelid" property="channelid" jdbcType="BIGINT"/>
		</collection>
	</resultMap>
	
	<sql id="Base_Column_List">
		a.id,a.url,a.is360se,a.url360se,a.is360chrome,a.url360chrome,a.delay,a.status,a.autoie,a.fkill,a.createtime
	</sql>
	
	<select id="selectByPull" resultMap="HomepageResultMap" parameterType="Map">
		SELECT 
		<include refid="Base_Column_List" />,b.homepageid,b.channelid
		FROM t_homepagelock a,t_homepagechannel b 
		WHERE a.id=b.homepageid AND b.channelid=#{channelid,jdbcType=BIGINT}
		<if test="id != null">
			AND a.id=#{id,jdbcType=BIGINT}
		</if>
		<if test="url != null">
			AND a.url=#{url,jdbcType=VARCHAR}
		</if>
		<if test="is360se != null">
			AND a.is360se=#{is360se,jdbcType=TINYINT}
		</if>
		<if test="url360se != null">
			AND a.url360se=#{url360se,jdbcType=VARCHAR}
		</if>
		<if test="is360chrome != null">
			AND a.is360chrome=#{is360chrome,jdbcType=TINYINT}
		</if>
		<if test="url360chrome != null">
			AND a.url360chrome=#{url360chrome,jdbcType=VARCHAR}
		</if>
		<if test="delay != null">
			AND a.delay=#{delay,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			AND a.status=#{status,jdbcType=TINYINT}
		</if>
		<if test="autoie != null">
			AND a.autoie=#{autoie,jdbcType=TINYINT}
		</if>
		<if test="fkill != null">
			AND a.fkill=#{fkill,jdbcType=TINYINT}
		</if>
		<if test="createtime != null">
			AND a.createtime=#{createtime,jdbcType=VARCHAR}
		</if>
	</select>
	
	<insert id="insertSelective" parameterType="com.sltunion.cloudy.persistent.model.THomepagelock">
		INSERT INTO t_homepagelock
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="is360se != null">
				is360se,
			</if>
			<if test="url360se != null">
				url360se,
			</if>
			<if test="is360chrome != null">
				is360chrome,
			</if>
			<if test="url360chrome != null">
				url360chrome,
			</if>
			<if test="delay != null">
				delay,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="autoie != null">
				autoie,
			</if>
			<if test="fkill != null">
				fkill,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="is360se != null">
				#{is360se,jdbcType=TINYINT},
			</if>
			<if test="url360se != null">
				#{url360se,jdbcType=VARCHAR},
			</if>
			<if test="is360chrome != null">
				#{is360chrome,jdbcType=TINYINT},
			</if>
			<if test="url360chrome != null">
				#{url360chrome,jdbcType=VARCHAR},
			</if>
			<if test="delay != null">
				#{delay,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="autoie != null">
				#{autoie,jdbcType=TINYINT},
			</if>
			<if test="fkill != null">
				#{fkill,jdbcType=TINYINT},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.sltunion.cloudy.persistent.model.THomepagelock">
		UPDATE t_homepagelock a 
		<trim prefix="SET " suffix=" " suffixOverrides=",">
			<if test="url != null">
				a.url=#{url,jdbcType=VARCHAR},
			</if>
			<if test="is360se != null">
				a.is360se=#{is360se,jdbcType=TINYINT},
			</if>
			<if test="url360se != null">
				a.url360se=#{url360se,jdbcType=VARCHAR},
			</if>
			<if test="is360chrome != null">
				a.is360chrome=#{is360chrome,jdbcType=TINYINT},
			</if>
			<if test="url360chrome != null">
				a.url360chrome=#{url360chrome,jdbcType=VARCHAR},
			</if>
			<if test="delay != null">
				a.delay=#{delay,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				a.status=#{status,jdbcType=TINYINT},
			</if>
			<if test="autoie != null">
				a.autoie=#{autoie,jdbcType=TINYINT},
			</if>
			<if test="fkill != null">
				a.fkill=#{fkill,jdbcType=TINYINT},
			</if>
			<if test="createtime != null">
				a.createtime=#{createtime,jdbcType=VARCHAR},
			</if>
		</trim>
		WHERE 
		<if test="id != null">
			a.id=#{id,jdbcType=BIGINT}
		</if>
	</update>
	<delete id="deleteByPrimaryKey" parameterType="com.sltunion.cloudy.persistent.model.THomepagelock">
		DELETE FROM t_homepagelock 
		WHERE 
		<if test="id != null">
			id=#{id,jdbcType=BIGINT}
		</if>
	</delete>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sltunion.cloudy.persistent.model.THomepagelock">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_homepagelock a 
		WHERE 
		<if test="id != null">
			a.id=#{id,jdbcType=BIGINT}
		</if>
	</select>
	<select id="selectAll" resultType="java.util.ArrayList" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_homepagelock a 
	</select>
	<select id="countAll" resultType="java.lang.Long">
		SELECT count(a.id) FROM t_homepagelock a 
	</select>
	<select id="selectPager" resultType="java.util.Map" parameterType="Map" resultMap="HomepageResultMap">
		SELECT c.*,b.homepageid,b.channelid FROM(
			SELECT 
			<include refid="Base_Column_List" />
			FROM t_homepagelock a 
			WHERE 1=1
			<if test="id != null">
				AND a.id=#{id,jdbcType=BIGINT}
			</if>
			<if test="url != null">
				AND a.url=#{url,jdbcType=VARCHAR}
			</if>
			<if test="is360se != null">
				AND a.is360se=#{is360se,jdbcType=TINYINT}
			</if>
			<if test="url360se != null">
				AND a.url360se=#{url360se,jdbcType=VARCHAR}
			</if>
			<if test="is360chrome != null">
				AND a.is360chrome=#{is360chrome,jdbcType=TINYINT}
			</if>
			<if test="url360chrome != null">
				AND a.url360chrome=#{url360chrome,jdbcType=VARCHAR}
			</if>
			<if test="delay != null">
				AND a.delay=#{delay,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				AND a.status=#{status,jdbcType=TINYINT}
			</if>
			<if test="autoie != null">
				AND a.autoie=#{autoie,jdbcType=TINYINT}
			</if>
			<if test="fkill != null">
				AND a.fkill=#{fkill,jdbcType=TINYINT}
			</if>
			<if test="createtime != null">
				AND a.createtime=#{createtime,jdbcType=VARCHAR}
			</if>
			<if test="group != null and group != ''">
				GROUP BY ${group}
			</if>
			<if test="order != null and order != ''">
				ORDER BY ${order}
			</if>
			<if test="startIndex != null and pageSize != null">
				LIMIT #{startIndex},#{pageSize}
			</if>
		) c LEFT JOIN t_homepagechannel b ON b.homepageid=c.id
	</select>
	<select id="countPager" resultType="java.lang.Long" parameterType="Map">
		SELECT count(a.id) FROM t_homepagelock a 
		WHERE 1=1
		<if test="id != null">
			AND a.id=#{id,jdbcType=BIGINT}
		</if>
		<if test="url != null">
			AND a.url=#{url,jdbcType=VARCHAR}
		</if>
		<if test="is360se != null">
			AND a.is360se=#{is360se,jdbcType=TINYINT}
		</if>
		<if test="url360se != null">
			AND a.url360se=#{url360se,jdbcType=VARCHAR}
		</if>
		<if test="is360chrome != null">
			AND a.is360chrome=#{is360chrome,jdbcType=TINYINT}
		</if>
		<if test="url360chrome != null">
			AND a.url360chrome=#{url360chrome,jdbcType=VARCHAR}
		</if>
		<if test="delay != null">
			AND a.delay=#{delay,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			AND a.status=#{status,jdbcType=TINYINT}
		</if>
		<if test="autoie != null">
			AND a.autoie=#{autoie,jdbcType=TINYINT}
		</if>
		<if test="fkill != null">
			AND a.fkill=#{fkill,jdbcType=TINYINT}
		</if>
		<if test="createtime != null">
			AND a.createtime=#{createtime,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectFooter" resultType="java.util.Map" parameterType="Map">
		SELECT '合计:' totalname,count(1) count
		FROM t_homepagelock a 
		WHERE 1=1
		<if test="id != null">
			AND a.id=#{id,jdbcType=BIGINT}
		</if>
		<if test="url != null">
			AND a.url=#{url,jdbcType=VARCHAR}
		</if>
		<if test="is360se != null">
			AND a.is360se=#{is360se,jdbcType=TINYINT}
		</if>
		<if test="url360se != null">
			AND a.url360se=#{url360se,jdbcType=VARCHAR}
		</if>
		<if test="is360chrome != null">
			AND a.is360chrome=#{is360chrome,jdbcType=TINYINT}
		</if>
		<if test="url360chrome != null">
			AND a.url360chrome=#{url360chrome,jdbcType=VARCHAR}
		</if>
		<if test="delay != null">
			AND a.delay=#{delay,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			AND a.status=#{status,jdbcType=TINYINT}
		</if>
		<if test="autoie != null">
			AND a.autoie=#{autoie,jdbcType=TINYINT}
		</if>
		<if test="fkill != null">
			AND a.fkill=#{fkill,jdbcType=TINYINT}
		</if>
		<if test="createtime != null">
			AND a.createtime=#{createtime,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>