<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sltunion.cloudy.persistent.mapper.TIaudailylogMapper">
	<resultMap id="BaseResultMap" type="com.sltunion.cloudy.persistent.model.TIaudailylog">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="userid" property="userid" jdbcType="BIGINT"/>
		<result column="channelid" property="channelid" jdbcType="BIGINT"/>
		<result column="installnum" property="installnum" jdbcType="INTEGER"/>
		<result column="activenum" property="activenum" jdbcType="INTEGER"/>
		<result column="uninstallnum" property="uninstallnum" jdbcType="INTEGER"/>
		<result column="vmnum" property="vmnum" jdbcType="INTEGER"/>
		<result column="xpnum" property="xpnum" jdbcType="INTEGER"/>
		<result column="win732num" property="win732num" jdbcType="INTEGER"/>
		<result column="win764num" property="win764num" jdbcType="INTEGER"/>
		<result column="win832num" property="win832num" jdbcType="INTEGER"/>
		<result column="win864num" property="win864num" jdbcType="INTEGER"/>
		<result column="othernum" property="othernum" jdbcType="INTEGER"/>
		<result column="driverdown" property="driverdown" jdbcType="INTEGER"/>
		<result column="hour" property="hour" jdbcType="INTEGER"/>
		<result column="createdate" property="createdate" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
		a.id,a.userid,a.channelid,a.installnum,a.activenum,a.uninstallnum,a.vmnum,a.xpnum,a.win732num,a.win764num,a.win832num,a.win864num,a.othernum,a.driverdown,a.hour,a.createdate
	</sql>
	
	<update id="updateByStatisticsSelective" parameterType="com.sltunion.cloudy.persistent.model.TIaudailylog">
		UPDATE t_iaudailylog a
		<trim prefix="SET " suffix=" " suffixOverrides=",">
			<if test="installnum != null and installnum != 0">
				a.installnum=a.installnum+#{installnum,jdbcType=INTEGER},
			</if>
			<if test="activenum != null and activenum != 0">
				a.activenum=a.activenum+#{activenum,jdbcType=INTEGER},
			</if>
			<if test="uninstallnum != null and uninstallnum != 0">
				a.uninstallnum=a.uninstallnum+#{uninstallnum,jdbcType=INTEGER},
			</if>
			<if test="vmnum != null and vmnum != 0">
				a.vmnum=a.vmnum+#{vmnum,jdbcType=INTEGER},
			</if>
			<if test="xpnum != null and xpnum != 0">
				a.xpnum=a.xpnum+#{xpnum,jdbcType=INTEGER},
			</if>
			<if test="win732num != null and win732num != 0">
				a.win732num=a.win732num+#{win732num,jdbcType=INTEGER},
			</if>
			<if test="win764num != null and win764num != 0">
				a.win764num=a.win764num+#{win764num,jdbcType=INTEGER},
			</if>
			<if test="win832num != null and win832num != 0">
				a.win832num=a.win832num+#{win832num,jdbcType=INTEGER},
			</if>
			<if test="win864num != null and win864num != 0">
				a.win864num=a.win864num+#{win864num,jdbcType=INTEGER},
			</if>
			<if test="othernum != null and othernum !=0">
				a.othernum=a.othernum+#{othernum,jdbcType=INTEGER},
			</if>
			<if test="driverdown != null and driverdown != 0">
				a.driverdown=a.driverdown+#{driverdown,jdbcType=INTEGER},
			</if>
		</trim>
		WHERE a.userid=#{userid,jdbcType=BIGINT} AND
		a.channelid=#{channelid,jdbcType=BIGINT} AND
		a.hour=#{hour,jdbcType=INTEGER} AND
		a.createdate=#{createdate,jdbcType=VARCHAR}
	</update>
	
	<insert id="insertSelective" parameterType="com.sltunion.cloudy.persistent.model.TIaudailylog">
		INSERT INTO t_iaudailylog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="channelid != null">
				channelid,
			</if>
			<if test="installnum != null">
				installnum,
			</if>
			<if test="activenum != null">
				activenum,
			</if>
			<if test="uninstallnum != null">
				uninstallnum,
			</if>
			<if test="vmnum != null">
				vmnum,
			</if>
			<if test="xpnum != null">
				xpnum,
			</if>
			<if test="win732num != null">
				win732num,
			</if>
			<if test="win764num != null">
				win764num,
			</if>
			<if test="win832num != null">
				win832num,
			</if>
			<if test="win864num != null">
				win864num,
			</if>
			<if test="othernum != null">
				othernum,
			</if>
			<if test="driverdown != null">
				driverdown,
			</if>
			<if test="hour != null">
				hour,
			</if>
			<if test="createdate != null">
				createdate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=BIGINT},
			</if>
			<if test="channelid != null">
				#{channelid,jdbcType=BIGINT},
			</if>
			<if test="installnum != null">
				#{installnum,jdbcType=INTEGER},
			</if>
			<if test="activenum != null">
				#{activenum,jdbcType=INTEGER},
			</if>
			<if test="uninstallnum != null">
				#{uninstallnum,jdbcType=INTEGER},
			</if>
			<if test="vmnum != null">
				#{vmnum,jdbcType=INTEGER},
			</if>
			<if test="xpnum != null">
				#{xpnum,jdbcType=INTEGER},
			</if>
			<if test="win732num != null">
				#{win732num,jdbcType=INTEGER},
			</if>
			<if test="win764num != null">
				#{win764num,jdbcType=INTEGER},
			</if>
			<if test="win832num != null">
				#{win832num,jdbcType=INTEGER},
			</if>
			<if test="win864num != null">
				#{win864num,jdbcType=INTEGER},
			</if>
			<if test="othernum != null">
				#{othernum,jdbcType=INTEGER},
			</if>
			<if test="driverdown != null">
				#{driverdown,jdbcType=INTEGER},
			</if>
			<if test="hour != null">
				#{hour,jdbcType=INTEGER},
			</if>
			<if test="createdate != null">
				#{createdate,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.sltunion.cloudy.persistent.model.TIaudailylog">
		UPDATE t_iaudailylog a 
		<trim prefix="SET " suffix=" " suffixOverrides=",">
			<if test="userid != null">
				a.userid=#{userid,jdbcType=BIGINT},
			</if>
			<if test="channelid != null">
				a.channelid=#{channelid,jdbcType=BIGINT},
			</if>
			<if test="installnum != null">
				a.installnum=#{installnum,jdbcType=INTEGER},
			</if>
			<if test="activenum != null">
				a.activenum=#{activenum,jdbcType=INTEGER},
			</if>
			<if test="uninstallnum != null">
				a.uninstallnum=#{uninstallnum,jdbcType=INTEGER},
			</if>
			<if test="vmnum != null">
				a.vmnum=#{vmnum,jdbcType=INTEGER},
			</if>
			<if test="xpnum != null">
				a.xpnum=#{xpnum,jdbcType=INTEGER},
			</if>
			<if test="win732num != null">
				a.win732num=#{win732num,jdbcType=INTEGER},
			</if>
			<if test="win764num != null">
				a.win764num=#{win764num,jdbcType=INTEGER},
			</if>
			<if test="win832num != null">
				a.win832num=#{win832num,jdbcType=INTEGER},
			</if>
			<if test="win864num != null">
				a.win864num=#{win864num,jdbcType=INTEGER},
			</if>
			<if test="othernum != null">
				a.othernum=#{othernum,jdbcType=INTEGER},
			</if>
			<if test="driverdown != null">
				a.driverdown=#{driverdown,jdbcType=INTEGER},
			</if>
			<if test="hour != null">
				a.hour=#{hour,jdbcType=INTEGER},
			</if>
			<if test="createdate != null">
				a.createdate=#{createdate,jdbcType=VARCHAR},
			</if>
		</trim>
		WHERE 
		<if test="id != null">
			a.id=#{id,jdbcType=BIGINT}
		</if>
	</update>
	<delete id="deleteByPrimaryKey" parameterType="com.sltunion.cloudy.persistent.model.TIaudailylog">
		DELETE FROM t_iaudailylog 
		WHERE 
		<if test="id != null">
			id=#{id,jdbcType=BIGINT}
		</if>
	</delete>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sltunion.cloudy.persistent.model.TIaudailylog">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_iaudailylog a 
		WHERE 
		<if test="id != null">
			a.id=#{id,jdbcType=BIGINT}
		</if>
	</select>
	<select id="selectAll" resultType="java.util.ArrayList" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM t_iaudailylog a 
	</select>
	<select id="countAll" resultType="java.lang.Long">
		SELECT count(a.id) FROM t_iaudailylog a 
	</select>
	<select id="selectPager" resultType="java.util.Map" parameterType="Map" resultMap="BaseResultMap">
		SELECT 
		a.id,a.userid,a.channelid,IFNULL(SUM(a.xpnum),0) xpnum,IFNULL(SUM(a.win732num),0) win732num,IFNULL(SUM(a.othernum),0) othernum,
		IFNULL(SUM(a.win764num),0) win764num,IFNULL(SUM(a.win832num),0) win832num,IFNULL(SUM(a.win864num),0) win864num,
		IFNULL(SUM(a.installnum),0) installnum,IFNULL(SUM(a.activenum),0) activenum,IFNULL(SUM(a.uninstallnum),0) uninstallnum,
		IFNULL(SUM(a.driverdown),0) driverdown,IFNULL(SUM(a.vmnum),0) vmnum,a.createdate
		FROM t_iaudailylog a 
		WHERE 1=1
		<if test="id != null">
			AND a.id=#{id,jdbcType=BIGINT}
		</if>
		<if test="userid != null">
			AND a.userid=#{userid,jdbcType=BIGINT}
		</if>
		<if test="channelid != null">
			AND a.channelid=#{channelid,jdbcType=BIGINT}
		</if>
		<if test="installnum != null">
			AND a.installnum=#{installnum,jdbcType=INTEGER}
		</if>
		<if test="activenum != null">
			AND a.activenum=#{activenum,jdbcType=INTEGER}
		</if>
		<if test="uninstallnum != null">
			AND a.uninstallnum=#{uninstallnum,jdbcType=INTEGER}
		</if>
		<if test="vmnum != null">
			AND a.vmnum=#{vmnum,jdbcType=INTEGER}
		</if>
		<if test="xpnum != null">
			AND a.xpnum=#{xpnum,jdbcType=INTEGER}
		</if>
		<if test="win732num != null">
			AND a.win732num=#{win732num,jdbcType=INTEGER}
		</if>
		<if test="win764num != null">
			AND a.win764num=#{win764num,jdbcType=INTEGER}
		</if>
		<if test="win832num != null">
			AND a.win832num=#{win832num,jdbcType=INTEGER}
		</if>
		<if test="win864num != null">
			AND a.win864num=#{win864num,jdbcType=INTEGER}
		</if>
		<if test="othernum != null">
			AND a.othernum=#{othernum,jdbcType=INTEGER}
		</if>
		<if test="driverdown != null">
			AND a.driverdown=#{driverdown,jdbcType=INTEGER}
		</if>
		<if test="hour != null">
			AND a.hour=#{hour,jdbcType=INTEGER}
		</if>
		<if test="createdate != null">
			AND a.createdate=#{createdate,jdbcType=VARCHAR}
		</if>
		<if test="startdate != null and enddate != null">
			AND a.createdate BETWEEN #{startdate,jdbcType=VARCHAR} AND #{enddate,jdbcType=VARCHAR}
		</if>
		<if test="group != null and group != ''">
			GROUP BY ${group}
		</if>
		<if test="order != null and order != ''">
			ORDER BY ${order}
		</if>
		<if test="startIndex != null and pageSize != null">
			LIMIT #{startIndex},#{pageSize}
		</if>
	</select>
	<select id="countPager" resultType="java.lang.Long" parameterType="Map">
		SELECT count(a.id) FROM t_iaudailylog a 
		WHERE 1=1
		<if test="id != null">
			AND a.id=#{id,jdbcType=BIGINT}
		</if>
		<if test="userid != null">
			AND a.userid=#{userid,jdbcType=BIGINT}
		</if>
		<if test="channelid != null">
			AND a.channelid=#{channelid,jdbcType=BIGINT}
		</if>
		<if test="installnum != null">
			AND a.installnum=#{installnum,jdbcType=INTEGER}
		</if>
		<if test="activenum != null">
			AND a.activenum=#{activenum,jdbcType=INTEGER}
		</if>
		<if test="uninstallnum != null">
			AND a.uninstallnum=#{uninstallnum,jdbcType=INTEGER}
		</if>
		<if test="vmnum != null">
			AND a.vmnum=#{vmnum,jdbcType=INTEGER}
		</if>
		<if test="xpnum != null">
			AND a.xpnum=#{xpnum,jdbcType=INTEGER}
		</if>
		<if test="win732num != null">
			AND a.win732num=#{win732num,jdbcType=INTEGER}
		</if>
		<if test="win764num != null">
			AND a.win764num=#{win764num,jdbcType=INTEGER}
		</if>
		<if test="win832num != null">
			AND a.win832num=#{win832num,jdbcType=INTEGER}
		</if>
		<if test="win864num != null">
			AND a.win864num=#{win864num,jdbcType=INTEGER}
		</if>
		<if test="othernum != null">
			AND a.othernum=#{othernum,jdbcType=INTEGER}
		</if>
		<if test="driverdown != null">
			AND a.driverdown=#{driverdown,jdbcType=INTEGER}
		</if>
		<if test="hour != null">
			AND a.hour=#{hour,jdbcType=INTEGER}
		</if>
		<if test="createdate != null">
			AND a.createdate=#{createdate,jdbcType=VARCHAR}
		</if>
		<if test="startdate != null and enddate != null">
			AND a.createdate BETWEEN #{startdate,jdbcType=VARCHAR} AND #{enddate,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectFooter" resultType="java.util.Map" parameterType="Map">
		SELECT IFNULL(SUM(a.xpnum),0) xpnum,IFNULL(SUM(a.win732num),0) win732num,IFNULL(SUM(a.othernum),0) othernum,
		IFNULL(SUM(a.win764num),0) win764num,IFNULL(SUM(a.win832num),0) win832num,IFNULL(SUM(a.win864num),0) win864num,
		IFNULL(SUM(a.installnum),0) installnum,IFNULL(SUM(a.activenum),0) activenum,IFNULL(SUM(a.uninstallnum),0) uninstallnum,
		IFNULL(SUM(a.driverdown),0) driverdown,IFNULL(SUM(a.vmnum),0) vmnum
		FROM t_iaudailylog a 
		WHERE 1=1
		<if test="id != null">
			AND a.id=#{id,jdbcType=BIGINT}
		</if>
		<if test="userid != null">
			AND a.userid=#{userid,jdbcType=BIGINT}
		</if>
		<if test="channelid != null">
			AND a.channelid=#{channelid,jdbcType=BIGINT}
		</if>
		<if test="installnum != null">
			AND a.installnum=#{installnum,jdbcType=INTEGER}
		</if>
		<if test="activenum != null">
			AND a.activenum=#{activenum,jdbcType=INTEGER}
		</if>
		<if test="uninstallnum != null">
			AND a.uninstallnum=#{uninstallnum,jdbcType=INTEGER}
		</if>
		<if test="vmnum != null">
			AND a.vmnum=#{vmnum,jdbcType=INTEGER}
		</if>
		<if test="xpnum != null">
			AND a.xpnum=#{xpnum,jdbcType=INTEGER}
		</if>
		<if test="win732num != null">
			AND a.win732num=#{win732num,jdbcType=INTEGER}
		</if>
		<if test="win764num != null">
			AND a.win764num=#{win764num,jdbcType=INTEGER}
		</if>
		<if test="win832num != null">
			AND a.win832num=#{win832num,jdbcType=INTEGER}
		</if>
		<if test="win864num != null">
			AND a.win864num=#{win864num,jdbcType=INTEGER}
		</if>
		<if test="othernum != null">
			AND a.othernum=#{othernum,jdbcType=INTEGER}
		</if>
		<if test="driverdown != null">
			AND a.driverdown=#{driverdown,jdbcType=INTEGER}
		</if>
		<if test="hour != null">
			AND a.hour=#{hour,jdbcType=INTEGER}
		</if>
		<if test="createdate != null">
			AND a.createdate=#{createdate,jdbcType=VARCHAR}
		</if>
		<if test="startdate != null and enddate != null">
			AND a.createdate BETWEEN #{startdate,jdbcType=VARCHAR} AND #{enddate,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getChartResultList" resultType="java.util.Map" parameterType="Map">
		SELECT IFNULL(SUM(a.xpnum),0) xpnum,IFNULL(SUM(a.win732num),0) win732num,IFNULL(SUM(a.othernum),0) othernum,
		IFNULL(SUM(a.win764num),0) win764num,IFNULL(SUM(a.win832num),0) win832num,IFNULL(SUM(a.win864num),0) win864num,
		IFNULL(SUM(a.installnum),0) installnum,IFNULL(SUM(a.activenum),0) activenum,IFNULL(SUM(a.uninstallnum),0) uninstallnum,
		IFNULL(SUM(a.driverdown),0) driverdown,IFNULL(SUM(a.vmnum),0) vmnum,a.hour,a.createdate
		FROM t_iaudailylog a 
		WHERE a.createdate BETWEEN #{startdate,jdbcType=VARCHAR} AND #{enddate,jdbcType=VARCHAR}
		<if test="channelid != null">
			AND a.channelid=#{channelid,jdbcType=BIGINT}
		</if>
		<if test="userid != null">
			AND a.userid=#{userid,jdbcType=BIGINT}
		</if>
		<if test="group != null and group != ''">
			GROUP BY ${group}
		</if>
		<if test="order != null and order != ''">
			ORDER BY ${order}
		</if>
		<if test="startIndex != null and pageSize != null">
			LIMIT #{startIndex},#{pageSize}
		</if>
	</select>
</mapper>